@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9sjmxf');
  src:  url('fonts/icomoon.eot?9sjmxf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9sjmxf') format('truetype'),
    url('fonts/icomoon.woff?9sjmxf') format('woff'),
    url('fonts/icomoon.svg?9sjmxf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-display:before {
  content: "\e956";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-linkedin:before {
  content: "\eac9";
}
